@import "tailwindcss";

:root {
  --color-primary: #1E40AF;
  --color-secondary: #3B82F6;
  --color-accent: #F97316;
  --color-dark: #1E293B;
  --color-light: #F8FAFC;
  --font-sans: 'Inter', system-ui, sans-serif;
}

/* 深色模式样式 */
.dark {
  --tw-bg-opacity: 1;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.dark .bg-white {
  background-color: var(--color-dark);
}

.dark .text-gray-800 {
  color: var(--color-light);
}

.dark .text-gray-700 {
  color: rgba(226, 232, 240, 1);
}

.dark .text-gray-600 {
  color: rgba(203, 213, 225, 1);
}

.dark .text-gray-500 {
  color: rgba(156, 163, 175, 1);
}

.dark .text-gray-400 {
  color: rgba(156, 163, 175, 1);
}

.dark .text-gray-300 {
  color: rgba(209, 213, 219, 1);
}

.dark .text-gray-200 {
  color: rgba(191, 219, 254, 1);
}

.dark .text-gray-100 {
  color: rgba(248, 250, 252, 1);
}

/* 导航栏样式 */
.nav-logo-text {
  color: var(--color-dark);
}

.dark .nav-logo-text {
  color: var(--color-light);
}

.nav-link {
  color:var(--text-dark) /* text-red-500 */
}

.dark .nav-link {
  color: var(--color-light);
}

.nav-link:hover {
  color: var(--color-primary);
}

.dark .nav-link:hover {
  color: var(--color-secondary);
}

.nav-mobile-icon,
.nav-theme-icon,
.nav-menu-icon {
  color: var(--color-dark);
}

.dark .nav-theme-icon {
  color: rgba(156, 163, 175, 1); /* text-gray-400 */
}

.dark .nav-menu-icon {
  color: rgba(209, 213, 219, 1); /* text-gray-300 */
}

@import "./markdown-styles.css";