<a 
  href="/search"
  id="search-toggle" 
  class="p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors focus:outline-none"
  aria-label="搜索"
    >
<span class="icon-[lucide--search] h-5 w-5 text-gray-700 dark:text-gray-300"></span>
</a>